.table tr{
  height:100px;
}

.table>tbody>tr>th,
.table>tbody>tr>td{
  vertical-align: middle;
}

.table>tbody>tr>th{
  text-align: center;
}

.table>tbody>tr>td{
  text-align: center;
}

.tr_about_edit_destroy{
  text-align: center;
}